

.welcome-page-wrapper{
  width: 100vw;
  height: 100vh;
  .welcome-content{
    height: 100vh;
    display: flex;
    .welcome-title{
      height: fit-content;
      margin: auto 0px;
      color: "clifford";
    }
  }

}
